<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Editora Titan Tech</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">teste</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Editora Titan", "Index", "Inicio", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Catalogo", "Catalogo", "Inicio")</li>
                    <li>@Html.ActionLink("Sobre Nós", "Sobre", "Inicio")</li>
                    <li>@Html.ActionLink("Contato", "Contato", "Inicio")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestão de Catalogo <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Cadastrar</a></li>
                            <li><a href="#">Lista de Livros</a></li>
                            <li><a href="#">Alterar Cadastro de Livros</a></li>
                            <li><a href="#">Remover Livro do Catalogo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Autetnicação", "Login", "Autenticador", new { }, new { @class = "nav-link dropdown-toggle" })
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Editora Titan Tech - Livros técnicos</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>