@model IEnumerable<POC.ADONET.MODELS.LivroMOD>

@{
    ViewBag.Title = "TodosLivros";
}

<h2>TodosLivros</h2>

<p>
    @Html.ActionLink("Cadastrar Novo Livro", "CriarNovoLivro", new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Resenha)
        </th>*@
        <th>Ações</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Resenha)
        </td>*@
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }, new { @class = "btn btn-info" }) 
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.Id }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Excluir", "Excluir", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
